
/* Resetting box model */
:is(*, *::after, *::before) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styling for the html and body elements */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100svw;
  height: 100svh;

  color: teal;
  background-color: rgb(66, 68, 68);
  font-family: cursive;
}

/* Styling App Container */
.app-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* Styling App Inner Container */
.app-inner-cntainer{

}

/* Styling App Header Container */
.app-header-container{}

/* Styling Todo List Container */
.todo-list-container{}

/* Styling Display New Todos */
.display-new-todos{}

/* Styling Todos Notification */
.todos-notification{}


